body{
padding:20px;
font-family:Arial,;
width:100%;
}

form{
max-width:1000px;
margin:auto;
}

h2{
text-align:left;
}

label{
margin-bottom:5px;
font-weight:bold;
}

input,select{
padding:8px;
border:2px solid #ccc;
border-radius:4px;
width:220px;
height:35px;
}

input[type="date"]{
padding-right:35px;
}

span{
color:red;}

.two{
float:left;
}