body{
marin:0;
background-color:#fff;
}

.container img{
width:200px;
height:200px;
text-align:center;
}

.product p{
text-align:justify;
width:300px;
margin-right:20px;
}

.product{
background-color:white;
width:300px;
border-radius:8px;
box-shadow:0 0 10px rbga(0,0,0,0,1);
text-align:center;
padding:20px;
border:5px solid lightgray;
margin:60px;
}

.container{
display:flex;
flex-wrap:wrap;
margin-top:20px;
margin-right:20px;
gap:20px;
}


.table2 th,td{
border:2px solid #ccc;
padding:12px;
text-align:center;
border-collapse:collapse;
}



.navbar {
background-color:blue;
width:100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 200px;
  font-size: 18px;
}