span{
    color:white;
    margin:10px;
    padding:2px 10px 2px 10px;
    border-radius:5px;
}
.outline{
    border:2px solid green;
    width:450px;
    height:460px;
    border-radius:10px; 
    padding:20px; 
    margin-top:20px;
    text-align:left;
    
}
.border1{
    border:3px solid blue; 
    border-radius:10px; 
    margin-left:20px;
    padding:5px;
    

}
    
.box{
    border:2px solid green; 
    border-radius:6px;  
    margin:0px 15px 20px 30px;
    padding:2px;
    height:35px;
  
}
.box2{
    border:2px solid orange; 
    border-radius:8px; 
    margin:0px 15px 20px 30px;
    padding:2px;
    height:70px;
    width:350px;
   
}
.list{
    border:3px solid purple; 
    border-radius:8px;
    margin-left:20px;
    padding:0px 15px 10px 30px;
    text-align:left;
    height:70px;
   
}
.head{
    border:3px solid red; 
    border-radius:10px;
    margin-left:20px;
    padding:10px;
    text-align:center;
    
}