body {
    font-family: Georgia, serif;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

.box {
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: white;
}

.yellow-border {
    border: 2px solid goldenrod;
    width: 400px;
}

.green-border {
    border: 2px solid lightgreen;
    width: 250px;
}

.blue-border {
    border: 2px solid lightblue;
    width: 250px;
}

/* Highlight 2nd child */
.yellow-border p:nth-child(3) {
    border: 2px solid orange;
    padding: 2px 6px;
    border-radius: 6px;
    display: inline-block;
}

/* Checkbox highlight */
.green-border input:checked + span,
.green-border input:checked + label {
    font-weight: bold;
    color: green;
}

/* nth-of-type example */
.blue-border p:nth-of-type(2) {
    background: #e8f3ff;
    padding: 2px;
    border-radius: 4px;
    
}

.gold-border{
    border: 3px solid #c8a43c;
    width: 500px;
}

.purple-border{
    border: 3px solid purple;
    height: 5px;
    width: 450px;
}

.child{
    color:red;
}

label{
    color:green;
}
