body{
background-color:lightgray;
width:100%;
margin:0px;
}


h1{
color:blue;
padding:40px;
margin:auto;
font-size:50px;
}

.facebook{
background-color:white;
width:400px;
height:250px;
margin:1px solid black;
border-radius:20px;
}

.one{
width:350px;
height:25px;
margin:1px;
background-color:white;
border-radius:20px;
padding:6px;
}

input{
width:300px;
border-radius:5px;
height:30px;
border:2px solid grey;
padding:6px;
}


.four{
padding:6px;
}

button{
width:300px;
height:30px;
background-color:blue;
color:white;
padding:6px;
border-radius:3px;
font-weight:bold;
}

