table{
width:95%;
height:630px;
}

table,th,td{
border:2px solid white;
border-collapse:collapse;
}

td{
text-align:center;
}

i{
color:solid green;
}

button{
background-color:red;
border-radius:10px;
}