body{
margin:40px;
}

.box{
border:2px solid black;padding:4px;
text-align:left;
float:left;
width:45%;
margin:5px;
}

.box img{
height:200px;
width:150px;
margin-right:30px;
float:left;
boder-radius:50%;
}

.tobey,andrew,miles,tom,h2{
margin:0;
font-size:23px;
}

.tobey,andrew,miles,tom,p{
margin:8px 0;
font-size:15px;
}
.icons{
margin-top:10px;
}

.icons i{
font-size:22px;
margin-right:10px;
background-color:lightgray;
padding:8px;
border-radius:50%;
}