.bg{
background-color:skyblue;
}

.first{
color:purple;
}

.second{
color:red;
}

.third{
color:cyan;
}

div{
width:150px;
height:150px;
background-color:purple;
color:white;
text-align:center;
float:left;
margin-right:5px;
}