body{
background-color:red;
}

h1{
color:black;
text-align:center;}

div{
height:600px;
width:350px;
float:left;
margin-right:20px;
}

p{
text-align:center;
}

.poseiden{
color:white;
height:100px;
widht:130px;
border-radius:50%;
}

.blood raven{
height:100px;
widht:130px;
border-radius:50%;
color:white;
}

.avalanche{
color:white;
height:100px;
widht:130px;
border-radius:50%;
}

.marmoris{
height:100px;
widht:130px;
border-radius:50%;
}


img{
height:100px;
width:120px;
border-radius:50%;
}

i{
font-size:30px;}