body{
background-color=white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.profile-card{
display:flex;
background-color:lightgreen;
width:600px;
border-radius:5px;
box-shadow:0 4px 8px rgba(0,0,0,2);
overflow:hidden;
}

img{
width:200px;
height:200px;
border-radius:50%;
margin-bottom;10px;
object-left:cover;
padding:100px;
}

.subtitle{
margin-top:2px;
color:#333;
}

button{
display:block;
width:120px;
margin:10px auto;
padding:8px;
background:transparent;
border:1px solid black;
border-radius:20px;
cursor:pointer;
font-size:14px;
}

 h3,p{
margin:3px;
font-size:24px;
}


.profile-left,h2,p{
flex:1;
text-align:center;
padding:10px;
text-align:center;
}

.profile-right{
flex:-direction:column;
background-color:darkgreen;
display:flex;
margin:4px;
align-items:center;
text-align:center;
color:black;
}

div{
float:left;
margin-top:5px;
margin-bottom:5px;
}






